* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 050129 */
body {
  background:  #000024;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}
html, body {
  overflow-x: hidden;
}
/* Estilo del fondo de la barra */
::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra */
}

/* Estilo del "track" (fondo por donde se mueve la barra) */
::-webkit-scrollbar-track {
  background: #1e1e2f; /* Color del fondo */
  border-radius: 10px;
}

/* Estilo del "thumb" (barra que se desplaza) */
::-webkit-scrollbar-thumb {
  background: #5a5a7a; /* Color de la barra */
  border-radius: 10px;
}

/* Estilo cuando se pasa el mouse sobre la barra */
::-webkit-scrollbar-thumb:hover {
  background: #7777aa;
}



/* Para Chrome, Edge, Safari */

/* ::-webkit-scrollbar {
  display: none;
} */

/* Para Firefox */
/* * {
  scrollbar-width: none;
} */